<h1>Football Pool</h1>
<h6>Go Team!<br>Beat The Other Team</h6>

<a href="/leaderboard">LEADERBOARD</a>
<br>
<a href="/signup">SIGN UP</a>
<br>
<a href="/login">LOG IN</a>
<br>
<a href="/user/Nick">TEST USER</a>