<div class="welcome">
    <h1>Welcome to Pool Kings!<br> The internet's PREMIERE football pool picking app</h1>
</div>

<a href="/signup">SIGN UP</a>
<br>
<a href="/user/Nick">TEST USER</a>
{{!-- <a href="/leaderboard">LEADERBOARD</a>
<br>
<a href="/login">LOG IN</a>
<br> <h6>Go Team!<br>Beat The Other Team</h6>--}}