<div class="welcome">
    <p class="welcome2">Welcome to Pool Kings!<br> The internet's PREMIERE football pool picking app</p>
    <p class="welcome3">Invite your friends and sign up below to get started TODAY!</p>
</div>


<div class="buttons">
<a href="/signup" class="signup-button">SIGN UP</a>
<br>
<a href="/login" class="login-button">LOG IN</a>
</div>
<br>
<a href="/user/Nick">TEST USER</a>