<section class="create-user">
  <p class="create-header">Log In :</p>
  <form action="/user" class="signup-form" method="POST">
      <input type="username" class="input-field" name="username" placeholder="Username">
      <br>
      <input type="password" class="input-field" name="password" placeholder="Password">
      <br>
      <input type="submit" class="submit-button" value="Log In">
  </form>
</section>