<section>
  <h4>Create User:</h4>

  <form action="/user" method="POST">
    <p class="input-field">
      <input type="username" name="username" placeholder="Username">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
    <p class="input-field">
      <input type="submit" value="CLICK ME">
    </p>
  </form>
</section>