<p class="lineupBanner">Weekly Lineup</p>

<form action="/thisweekspicks" method="POST">
    <div class="onePMlineup">
    <p>1PM Games</p>
    <input type="text" placeholder="Game One Away" name="gameOneUnderdog">
    <input type="text" placeholder="Game One Home" name="gameOneFavorite">
    <input type="number" step=".1" placeholder="Game One Spread" name="gameOneSpread">
    <br>
    <input type="text" placeholder="Game Two Away" name="gameTwoUnderdog">
    <input type="text" placeholder="Game Two Home" name="gameTwoFavorite">
    <input type="number" step=".1" placeholder="Game Two Spread" name="gameTwoSpread">
    <br>
    <input type="text" placeholder="Game Three Away" name="gameThreeUnderdog">
    <input type="text" placeholder="Game Three Home" name="gameThreeFavorite">
    <input type="number" step=".1" placeholder="Game Three Spread" name="gameThreeSpread">
    <br>
    <input type="text" placeholder="Game Four Away" name="gameFourUnderdog">
    <input type="text" placeholder="Game Four Home" name="gameFourFavorite">
    <input type="number" step=".1" placeholder="Game Four Spread" name="gameFourSpread">
    <br>
    <input type="text" placeholder="Game Five Away" name="gameFiveUnderdog">
    <input type="text" placeholder="Game Five Home" name="gameFiveFavorite">
    <input type="number" step=".1" placeholder="Game Five Spread" name="gameFiveSpread">
    <br>
    <input type="text" placeholder="Game Six Away" name="gameSixUnderdog">
    <input type="text" placeholder="Game Six Home" name="gameSixFavorite">
    <input type="number" step=".1" placeholder="Game Six Spread" name="gameSixSpread">
    <br>
    <input type="text" placeholder="Game Seven Away" name="gameSevenUnderdog">
    <input type="text" placeholder="Game Seven Home" name="gameSevenFavorite">
    <input type="number" step=".1" placeholder="Game Seven Spread" name="gameSevenSpread">
    <br>
    <input type="text" placeholder="Game Eight Away" name="gameEightUnderdog">
    <input type="text" placeholder="Game Eight Home" name="gameEightFavorite">
    <input type="number" step=".1" placeholder="Game Eight Spread" name="gameEightSpread">
    </div>
    <br>
    <div class="fourPMlineup">
    <p>4PM Games</p>
    <input type="text" placeholder="Game Nine Away" name="gameNineUnderdog">
    <input type="text" placeholder="Game Nine Home" name="gameNineFavorite">
    <input type="number" step=".1" placeholder="Game Nine Spread" name="gameNineSpread">
    <br>
    <input type="text" placeholder="Game Ten Away" name="gameTenUnderdog">
    <input type="text" placeholder="Game Ten Home" name="gameTenFavorite">
    <input type="number" step=".1" placeholder="Game Ten Spread" name="gameTenSpread">
    <br>
    <input type="text" placeholder="Game Eleven Away" name="gameElevenUnderdog">
    <input type="text" placeholder="Game Eleven Home" name="gameElevenFavorite">
    <input type="number" step=".1" placeholder="Game Eleven Spread" name="gameElevenSpread">
    <br>
    <input type="text" placeholder="Game Twelve Away" name="gameTwelveUnderdog">
    <input type="text" placeholder="Game Twelve Home" name="gameTwelveFavorite">
    <input type="number" step=".1" placeholder="Game Twelve Spread" name="gameTwelveSpread">
    </div>
    <br>
    <div class="SNFlineup">
    <p>Sunday Night Football</p>
    <input type="text" placeholder="Game Thirteen Away" name="gameThirteenUnderdog">
    <input type="text" placeholder="Game Thirteen Home" name="gameThirteenFavorite">
    <input type="number" step=".1" placeholder="Game Thirteen Spread" name="gameThirteenSpread">
    </div>
    <br>
    <div class="MNFlineup">
    <p>Monday Night Football</p>
    <input type="text" placeholder="Game Fourteen Away" name="gameFourteenUnderdog">
    <input type="text" placeholder="Game Fourteen Home" name="gameFourteenFavorite">
    <input type="number" step=".1" placeholder="Game Fourteen Spread" name="gameFourteenSpread">
    </div>
    <br>
    <button class="lineupSubmit" type="submit">SUBMIT</button>
</form>