
<h1>SUPER SECRET ADMIN PAGE</h1>

<form action="/supersecretadminpage" method="POST">
    <input type="text" placeholder="gameOneFavorite" name="gameOneFavorite">
    <button type="submit">tara</button>
</form>