html, body, div, span, applet, object, iframe,
 p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}


/*---- styles ----*/
body {
    background-color: powderblue;
    font-family: 'Oswald', sans-serif;
}


.banner {
    background-color: black;
    color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    font-size: 40px;
    margin-left: 10px;
}

.header-right {
    padding: 15px;
}

.home {
    font-size: 20px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: underline;
}

/* ----- INDEX PAGE ----- */
.welcome {
    text-align: center;
    margin-top: 100px;
}

.welcome2 {
    font-size: 45px;
}

.welcome3 {
    font-size: 30px;
    margin-top: 70px;
}

/* Index Buttons */
.buttons {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.signup-button {
    color: white;
    background-color: black;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
}

.login-button {
    color: white;
    background-color: black;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
}

/* ---- USER PAGE ---- */
.results {
    padding: 5px;
}

li {
    padding: 1.5px;
}

h2 {
    margin: 10px;
    padding: 10px;
}

/* ---- SIGNUP PAGE ---- */
.create-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-header {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 40px;
}

.input-field {
    margin-top: 10px;
    width: 350px;
    height: 20px;
}

.dropdown {
    margin-top: 20px;
    width: 160px;
    height: 24px;
}

.submit-button {
    margin-top: 15px;
}