<h1>PICKS</h1>

<form action="" method="POST">
    <h2>1PM GAMES</h2>
    <p>TEAM ONE @</p>
    <input type="checkbox">
    <p>TEAM TWO</p>
    <input type="checkbox">
    <p>TEAM THREE @</p>
    <input type="checkbox">
    <p>TEAM FOUR</p>
    <input type="checkbox">
    <p>TEAM FIVE @</p>
    <input type="checkbox">
    <p>TEAM SIX</p>
    <input type="checkbox">
    <br>
    <h2>4PM GAMES</h2>
    <h2>SUNDAY NIGHT GAME</h2>
    <h2>MONDAY NIGHT GAME</h2>
    <h3>MNF POINTS: <input type="number" min="0"></h3>
</form>