<h1>PICKS</h1>

<form action="/picks" method="POST">
    <h2>1PM GAMES</h2>

    <div class="gameOne">
      <p><input type="checkbox" name="gameOneChoice" value="0">
      Broncos @
      <input type="checkbox" name="gameOneChoice" value="1">
      Jets</p>
    </div>

    <div class="gameTwo">
      <p><input type="checkbox" name="gameTwoChoice" value="0">
      Packers @
      <input type="checkbox" name="gameTwoChoice" value="1">
      Lions</p>
    </div>

    <div class="gameThree">
      <p><input type="checkbox" name="gameThreeChoice" value="0">
      Giants @
      <input type="checkbox" name="gameThreeChoice" value="1">
      Panthers</p>
    </div>

    <div class="gameFour">
      <p><input type="checkbox" name="gameFourChoice" value="0">
      Titans @
      <input type="checkbox" name="gameFourChoice" value="1">
      Bills</p>
    </div>

    <div class="gameFive">
      <p><input type="checkbox" name="gameFiveChoice" value="0">
      Falcons @
      <input type="checkbox" name="gameFiveChoice" value="1">
      Steelers</p>
    </div>

    <div class="gameSix">
      <p><input type="checkbox" name="gameSixChoice" value="0">
      Ravens @
      <input type="checkbox" name="gameSixChoice" value="1">
      Browns</p>
    </div>

    <div class="gameSeven">
      <p><input type="checkbox" name="gameSevenChoice" value="0">
      Dolphins @
      <input type="checkbox" name="gameSevenChoice" value="1">
      Bengals</p>
    </div>

    <div class="gameEight">
      <p><input type="checkbox" name="gameEightChoice" value="0">
      Jaguars @
      <input type="checkbox" name="gameEightChoice" value="1">
      Chiefs</p>
    </div>

    <h2>4PM GAMES</h2>

    <div class="gameNine">
      <p><input type="checkbox" name="gameNineChoice" value="0">
      Raiders @
      <input type="checkbox" name="gameNineChoice" value="1">
      Chargers</p>
    </div>

    <div class="gameTen">
      <p><input type="checkbox" name="gameTenChoice" value="0">
      Vikings @
      <input type="checkbox" name="gameTenChoice" value="1">
      Eagles</p>
    </div>

    <div class="gameEleven">
      <p><input type="checkbox" name="gameElevenChoice" value="0">
      Rams @
      <input type="checkbox" name="gameElevenChoice" value="1">
      Seahawks</p>
    </div>

    <div class="gameTwelve">
      <p><input type="checkbox" name="gameTwelveChoice" value="0">
      Cardinals @
      <input type="checkbox" name="gameTwelveChoice" value="1">
      49ers</p>
    </div>

    <h2>SUNDAY NIGHT GAME</h2>

    <div class="gameThirteen">
      <p><input type="checkbox" name="gameThirteenChoice" value="0">
      Cowboys @
      <input type="checkbox" name="gameThirteenChoice" value="1">
      Texans</p>
    </div>

    <h2>MONDAY NIGHT GAME</h2>

    <div class="gameFourteen">
      <p><input type="checkbox" name="gameFourteenChoice" value="0">
      Redskins @
      <input type="checkbox" name="gameFourteenChoice" value="1">
      Saints</p>
    </div>

    <h3>MNF POINTS: <input type="number" name="tiebreaker" max="200" min="0"></h3>
    <input type="submit" value="F U N K Y T O W N">
</form>