<p class="picksBanner">PICKS</p>

<form action="/user/{{username}}/picks" method="POST">

<div class="onePMGames">
  <h2>1PM GAMES</h2>
  <div class="game One">
    <p><input type="radio" name="gameOneChoice" value="0">
      Broncos @
      <input type="radio" name="gameOneChoice" value="1">
      Jets</p>
  </div>
  <div class="game Two">
    <p><input type="radio" name="gameTwoChoice" value="0">
      Packers @
      <input type="radio" name="gameTwoChoice" value="1">
      Lions</p>
  </div>
  <div class="game Three">
    <p><input type="radio" name="gameThreeChoice" value="0">
      Giants @
      <input type="radio" name="gameThreeChoice" value="1">
      Panthers</p>
  </div>
  <div class="game Four">
    <p><input type="radio" name="gameFourChoice" value="0">
      Titans @
      <input type="radio" name="gameFourChoice" value="1">
      Bills</p>
  </div>
  <div class="game Five">
    <p><input type="radio" name="gameFiveChoice" value="0">
      Falcons @
      <input type="radio" name="gameFiveChoice" value="1">
      Steelers</p>
  </div>
  <div class="game Six">
    <p><input type="radio" name="gameSixChoice" value="0">
      Ravens @
      <input type="radio" name="gameSixChoice" value="1">
      Browns</p>
  </div>
  <div class="game Seven">
    <p><input type="radio" name="gameSevenChoice" value="0">
      Dolphins @
      <input type="radio" name="gameSevenChoice" value="1">
      Bengals</p>
  </div>
  <div class="game Eight">
    <p><input type="radio" name="gameEightChoice" value="0">
      Jaguars @
      <input type="radio" name="gameEightChoice" value="1">
      Chiefs</p>
  </div>
</div>

<div class="fourPMGames">
  <h2>4PM GAMES</h2>
  <div class="game Nine">
    <p><input type="radio" name="gameNineChoice" value="0">
      Raiders @
      <input type="radio" name="gameNineChoice" value="1">
      Chargers</p>
  </div>
  <div class="game Ten">
    <p><input type="radio" name="gameTenChoice" value="0">
      Vikings @
      <input type="radio" name="gameTenChoice" value="1">
      Eagles</p>
  </div>
  <div class="game Eleven">
    <p><input type="radio" name="gameElevenChoice" value="0">
      Rams @
      <input type="radio" name="gameElevenChoice" value="1">
      Seahawks</p>
  </div>
  <div class="game Twelve">
    <p><input type="radio" name="gameTwelveChoice" value="0">
      Cardinals @
      <input type="radio" name="gameTwelveChoice" value="1">
      49ers</p>
  </div>
</div>

<div class="SNF">
  <h2>SUNDAY NIGHT GAME</h2>
  <div class="game Thirteen">
    <p><input type="radio" name="gameThirteenChoice" value="0">
      Cowboys @
      <input type="radio" name="gameThirteenChoice" value="1">
      Texans</p>
  </div>
</div>

<div class="MNF">
  <h2>MONDAY NIGHT GAME</h2>
  <div class="game Fourteen">
    <p><input type="radio" name="gameFourteenChoice" value="0">
      Redskins @
      <input type="radio" name="gameFourteenChoice" value="1">
      Saints</p>
  </div>
</div>

<div class="MNFPoints">
  <h3>MNF POINTS: <input type="number" name="tiebreaker" max="200" min="0"></h3>
</div>

<div class="picksSubmit">
  <button type="submit">F U N K Y T O W N</button>
</div>
</form>